* {
  background-color: bisque;
}

main {
  width: 960px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 80px;
}

h1 {
  font-family: cursive;
  font-size: 70px;
  margin: 20px 0px 30px 0px;
}

ul {
  display: flex;
  flex-flow: row nowrap;
}

a {
  margin: 10px;
  padding: 5px;
  text-decoration: none;
  font-size: 1.7em;
  background-color: whitesmoke;
  border-radius: 15px;
}

div {
  width: 300px;
  height: 550px;
  margin: 8px;
  text-align: center;
  border-radius: 40px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

aside {
  width: 600px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  border-radius: 40px;
  background-color: whitesmoke;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

aside p {
  background-color: whitesmoke;
}

section div:hover{
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
 }

img {
  width: 90%;
  border-radius: 15px;
}

div p {
  font-size: 1.3em;;
  padding: 10px 25px 10px 25px;
  background-color: whitesmoke;
}

div h2 {
  background-color: whitesmoke;
  font-size: 2em;
}

section {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}